<div class="photo">
  <div class="photo__actions">
    <p>
      <strong>Name:</strong>
      <%= photo.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= photo.description %>
    </p>

    <p>
      <strong>Shooting Date:</strong>
      <%= photo.shooting_date %>
    </p>
    <p>
      <strong>Image:</strong>
      <%= photo.image %>
    </p>
    <%= button_to "Delete", photo_gallery_photo_path(photo.photo_gallery, photo), method: :delete, class: "btn btn--light" %>
    <%= link_to "Edit", edit_photo_gallery_photo_path(photo.photo_gallery, photo), class: "btn btn--light" %>
  </div>
</div>