<main class="container">
  <%= link_to sanitize("&larr; Back to Galleries"), photo_galleries_path %>
  <div>
    <h1>
      <%= @photo_gallery.name %>
    </h1>
    <p>
      <%= @photo_gallery.description %>
    </p>

    <div class="header">
      <h5>
        My photos
      </h5>
    </div>

    <%= render @photo_gallery.photos %>
    <div class="header">
      <h2>Add new photo:</h2>
    </div>
    <%= render 'photos/form' %>
  </div>
</main>